sounds/Makefile
asterisk/Makefile
cacheplay.sh
convert.sh
dependencies
Dockerfile
.dockerignore
Docs
festival
gensound.sh
.git
.gitattributes
.gitignore
jack
Makefile
messagesgen.sh
messages.lst
numbersgen.py
numbersgen.sh
numbers.lst
numberspell.pyc
rman.sh
sapi_server
test_dbus.py
test_gen.py
test_numberspell.py
test_replay.py
test_repr1.py
test_round.py
test_save.py
test_signalr_c3.py
test_signalr.py
voicetest.py
